body {
  /*text-align: center;*/
  /*margin: 1%; /*8px default*/
}
nav {
  background-color: steelblue;
  padding: 5px 10px;
  text-align: center;
  position: fixed; /*as test*/
  left: 1%; /*as test*/
  width: 96%; /*as test*/
  display: flex; /*no longer centered*/
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 2;
}
nav a:hover {
  transform:rotateY(180deg);
}
a {
  font-size: 1.4em; /*same as 140%*/
  margin: 5px 5px;
  padding: 10px;
  color: white;
  background-color: lightblue;
  border-radius: 5px;
}
a:hover {
  background-color: white;
  color: steelblue;
}

span {
  background-color: steelblue;
  padding: 10px;
  margin: 10px;
  font-size: 1.5em;
  margin: 20px;
  padding: 20px;
  color: white;
  background-color: lightblue;
}

h1 {
  color: steelblue;
  text-align: center;
  margin: 50px 0; /*can do %*/
  position: relative; /* fix these two... */
  top: 25px; /**/
  z-index: 0; /*without these... nav goes transparent with h1 behind it*/
}
h2 {
  height: 230px; /* use 10px if not flex-direction: column */
}
.banner-div {
  justify-content: center;
}
img {
  width: 80%; /*800px*/
  border: 4px solid steelblue;
  padding: 1%; /*as test*/
  margin: 0% auto; /*as test*/
  background-color:  yellow; /*as test*/
  display: block; /*added because body centering was removed*/
  border-radius: 10px;
  transform-style:preserve-3d;
  transition: transform 1s ease-in-out; /*0.5s, step-end / step-start*/
}
.img-front {
  transform:rotateY(0);
	z-index: 1;
  position: absolute;
}
.img-front:hover {
  transform:rotateY(180deg);
}
.img-front:hover .img-back {
  transform:rotateY(180deg);
  z-index: 2;
}
.img-back {
  transform:rotateY(0);
	z-index: 0;
  position: absolute;
}
.img-back:hover {
  transform:rotateY(180deg);
  z-index: 1;
}
p {
  width: 80%;
  padding: 10px;
}

main p { /*this overlaps with the above...*/
  width: 80%;
  /*margin: 1% auto; -- duplicated in main-para*/
  /*text-align: center;*/
}

footer {
  background-color: steelblue;
  color: white;
  margin: 2%; /*as test*/
  padding: 1%;
}
footer p {
  text-align: center;
  width: 90%; /*as test*/
  margin: 1% auto; /*as test*/
  font-size: 120%;
  padding: 1%;
}
.main-para {
  border: 4px solid; /*as test*/
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 1% auto;
  padding: 2%;
}
#active {
  background-color: white;
  color: steelblue;
}

* {
  border: 1px solid blue; /* delete later */
}

/*nav, footer {
  background-color: steelblue;
  color: white;
  padding: 10px;
} -- all duplicated*/





/*
  
wpb_wrapper
 ***->	vc-hoverbox-wrapper  vc-hoverbox-shape--square vc-hoverbox-align--center vc-hoverbox-direction--default vc-hoverbox-width-100
		vc-hoverbox <-***
			vc-hoverbox-inner
				vc-hoverbox-block vc-hoverbox-back
					vc-hoverbox-block-inner vc-hoverbox-back-inner



.vc-hoverbox-wrapper .vc-hoverbox {
	position:relative;
	display:inline-block;
	text-align:center;
	width:100%
}
.vc-hoverbox-block {
	height:100%;
	width:100%;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	position:absolute;
	top:0;left:0;
	display:flex;
	flex-direction:column;
	justify-content:center;
	transition:transform .5s ease-in-out;
	transform-style:preserve-3d;
	background-size:cover;
	background-position:center
}
.vc-hoverbox-block-inner {
	flex-shrink:0;padding:20px
}
.vc-hoverbox-block-inner>* {
	backface-visibility:hidden
}
.vc-hoverbox-front {
	transform:rotateY(0);
	z-index:1
}
.vc-hoverbox-back {
	transform:rotateY(180deg)
}
.vc-hoverbox:hover .vc-hoverbox-front {
	transform:rotateY(-180deg)
}
.vc-hoverbox:hover .vc-hoverbox-back {
	transform:rotateY(0)
}
.vc-hoverbox-wrapper.vc-hoverbox-direction--reverse .vc-hoverbox-front {
	transform:rotateY(180deg)
}
.vc-hoverbox-wrapper.vc-hoverbox-direction--reverse .vc-hoverbox-back {
	transform:rotateY(0);
	z-index:2
}
.vc-hoverbox-wrapper.vc-hoverbox-direction--reverse .vc-hoverbox:hover .vc-hoverbox-front {
	transform:rotateY(0)
}
.vc-hoverbox-wrapper.vc-hoverbox-direction--reverse .vc-hoverbox:hover .vc-hoverbox-back {
	transform:rotateY(-180deg)
}
*/
